<li class="nav-item">
    <%= link_to path, class: "nav-link text-white #{'active bg-gradient-primary' if defined?(active) && active}" do %>
    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10"><%= icon %></i>
    </div>
    <span class="nav-link-text ms-1"><%= title %></span>
    <% end %>
</li>